/* =============================================================================
*  @TABCORDION
* ========================================================================== */
.tabcordion,
.tabcord-headerBar {
  *zoom: 1; }
  .tabcordion:before, .tabcordion:after,
  .tabcord-headerBar:before,
  .tabcord-headerBar:after {
    content: " ";
    display: table; }
  .tabcordion:after,
  .tabcord-headerBar:after {
    clear: both; }

.tabcord-title {
  cursor: pointer;
  float: left;
  width: 25%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (max-width: 700px) {
  .tabcord-title {
    float: none;
    width: auto; } }
