/* =============================================================================
*  @TABCORDION
* ========================================================================== */

// ===================================
// Mixins
// ===================================
@mixin boxSize() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table; }
  &:after {
    clear: both; }
}
// ===================================
// Styles
// ===================================
.tabcordion,
.tabcord-headerBar {
	@include clearfix();
}
.tabcord-title {
	cursor:pointer;
  margin:0;
  @include boxSize();
}
.tabcord-headerBar .tabcord-title{
  float: left;
}
.tabcord-disp,
.tabcord-headerBar {
  display: none;
}
@media only screen and (min-width: 700px) {
	.tabcord-headerBar {
    display: block;
  }
  .tabcordion > .tabcord-title {
		display: none;
	}
}